$mainFont:'Kanit', sans-serif;
$bodyBgColor :#F0F3F7;
$bodyBgImg: url('../body_bg.svg');
$white:#fff;
$inputOutline:#4AB5ED;
$submitBtn:#0B2198;
$icoUser: url('../ico-user.svg');
$icoCalendar: url('../ico-calendar.svg');
$icoMail: url('../ico-mail.svg');
$icoBirth: url('../ico-birth.svg');
$inputErr:#dc3545;
$inputBg:#F0F3F7;
